.container-btn-cantidades{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    gap: 10px;
}
.btn-cantidades{
    width: 110px;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-radius: 5px;

    button{
        background-color: transparent;
        border: none;
        display: flex;
        font-size: 18px;
    }
}